
{% extends 'administracion.html' %}
{% block contenido %}
<div class="histo-detalle">
    <a href="/"><font color="#3D9A13"> home </font></a><img src="/static/img/flechaverde.png" width="12" height="10" />
    <a href="/usuario/adminrolsistema"><font color="#3D9A13"> Rol de Sistema </font></a>
</div>
<nav class="detalle">

        <h1>Administrar Rol de Sistema</h1>
    {%if roles %}
        <div class="content">
            <table class="max">
                <thead>
                <tr>
                    <th class="thead">Rol</th>
                    <th width="75px" class="tnuevo"><span class="pushbutton"><a href="{% url 'usuario:crearrolsistema' %}" class="current"> <img src="/static/img/nuevo2.png" width="25" height="25" /></a></span></th>
                </tr>
                </thead>
                {% for rol in roles %}
                    <tbody>
                    <tr>
                        <td>{{rol.nombre}}</td>
                        <td><ul id="nav">
                            <li><span class="pushbutton"><a href="#" class="current" ><span><img src="/static/img/botonmenu2.png" alt="detalle"title="ver detalle" width="25" height="25" ></span></a></span>
                                <div class="subs">

                                    <div class="col">
                                        <ul>
                                            <li><a href='/usuario/detalle_rol_sistema/{{rol.id}}'><img src="/static/img/detalle.png" width="25" height="25"/> Ver</a></li>
                                            {% if not rol.nombre == "administrador"%}
                                            <li><a onclick="return pregunta_rol()" href='/usuario/eliminar_rol_sistema/{{rol.id}}'><img src="/static/img/eliminar3.png" width="25" height="25"/> Eliminar</a></li>
                                            {%endif%}
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <ul>
                                            {%if not rol.nombre == "administrador"%}
                                            <li><a href='/usuario/modificar_rol_sistema/{{rol.id}}'><img src="/static/img/editar2.png" width="25" height="25" /> Modificar</a></li>
                                            {%endif%}
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul></td>
                    </tr>
                    </tbody>
                {%endfor%}
            </table>
        </div>
    {%else%}
        <font color="red">No hay roles registrados, presiona</font> <a href="{% url 'usuario:crearrolsistema' %}" class="current">Aqui </a><font color="red">para crear uno nuevo</font>
    {%endif%}
</nav>

{%endblock%}
