{% extends 'Base.html' %}
{% if user.is_active %}
 {% block titulo %}Agregar Actividad{% endblock %}
{% block encabezado %}
{% endblock %}
{% block privado%}{% endblock%}
{% block contenido %}
<form method='post' action=''>{% csrf_token %}
                <table class="max">
                    <tr>
                       {{formulario}}
                    </tr>
                </table>
                <button class="button button-action" type="submit" name="Guardar" />Guardar</button>
                    <a class="button button-caution" href='/usuario/datos_Proyecto/{{proyecto.id}}' >Cancelar
               </a>
            </form>

{% endblock %}
{% endif%}
