{% extends 'administracion.html' %}
<h1>Asignar Responsable </h1>
{% block contenido %}
<br>
<nav class="detalle">
    <h1>Asingar responsable para Historia de Usuario</h1>
<form action='' method="post"> {% csrf_token%}
        <table class="max">
            <td><strong>Elegir responsable</strong></td>
            <td>
                <select id = "responsable" NAME="responsable" SIZE="1">
                    <option VALUE="{{hu.responsable}}" selected>{{hu.responsable}}</option>
                            {% for r in responsable %}
                                        <option>{{r}}</option>
                             {% endfor %}
                </select>
            </td>
        </table>
    <button class="button button-action" type="submit" name="Guardar" />Guardar</button>
    <a class="button button-caution" href= '/usuario/adminhu/{{proyecto.id}}' >Cancelar</a>

</form>
</nav>
{% endblock %}