{% extends 'administracion.html' %}

{% block contenido %}

<div class="histo-detalle">
    <a href="/"><font color="#3D9A13"> home </font></a><img src="/static/img/flechaverde.png" width="12" height="10" />
    <a href="/usuario/ingresar_Proyecto/{{codigo}}"><font color="#3D9A13"> Proyectos </font></a><img src="/static/img/flechaverde.png" width="12" height="10" />
    <a href="/usuario/datos_Proyecto/{{proyecto.id}}"><font color="#3D9A13"> {{proyecto}} </font></a><img src="/static/img/flechaverde.png" width="12" height="10" />
    <a href="/usuario/adminhu/{{proyecto.id}}"><font color="#3D9A13"> Administrar Historia de Usuario </font></a><img src="/static/img/flechaverde.png" width="12" height="10" />
    <a href="#"><font color="#3D9A13"> {{hu}} </font><img src="/static/img/flechaverde.png" width="12" height="10" />
    <font color="#3D9A13"> Cambiar Estado </font>
    </a>
</div>
<div id="wrapper">

	<ul class="menu">
		{%if 'asignar equipo' in permisos %}:
		    <li class="item1"><a href="#">Equipo</a>
			   <ul>
				<li class="subitem1"><a href="/usuario/equipo_trabajo/{{proyecto.id}}">Agregar Miembro</a></li>
                <li class="subitem1"><a href="/usuario/lista_eliminar_miembro/{{proyecto.id}}">Eliminar Miembro</a></li>
				<li class="subitem2"><a href="/usuario/detalle_equipo/{{proyecto.id}}">Ver Equipo </a></li>
			</ul>
		   </li>
        {%endif%}
		<li class="item2"><a href="#">Historia de Usuario</a>
			<ul>
				<li class="subitem1"><a href='/usuario/adminhu/{{proyecto.id}}'>Administrar HU </a></li>
			</ul>
		</li>
		<li class="item3"><a href="#">Sprint </a>
			<ul>
				<li class="subitem1"><a href="/usuario/activarsprint/{{proyecto.id}}">Crear Sprint</a></li>
				<li class="subitem2"><a href="/usuario/gestionarsprint/{{proyecto.id}}">Ver Sprint </a></li>
			</ul>
		</li>
        <li class="item3"><a href="#">Flujo</a>
			<ul>
				<li class="subitem1"><a href="#">Agregar Flujo</a></li>
				<li class="subitem2"><a href="#">Ver Flujo </a></li>
			</ul>
		</li>
	</ul>

</div>
<!--initiate accordion-->
<script type="text/javascript">
	$(function() {

	    var menu_ul = $('.menu > li > ul'),
	           menu_a  = $('.menu > li > a');

	    menu_ul.hide();

	    menu_a.click(function(e) {
	        e.preventDefault();
	        if(!$(this).hasClass('active')) {
	            menu_a.removeClass('active');
	            menu_ul.filter(':visible').slideUp('normal');
	            $(this).addClass('active').next().stop(true,true).slideDown('normal');
	        } else {
	            $(this).removeClass('active');
	            $(this).next().stop(true,true).slideUp('normal');
	        }
	    });

	});
</script>

<nav class="detalle">
    <h1>{{proyecto}}</h1>
    <hr/>
    <h1>Cambiar de estado de la HU: {{hu}}</h1>
<form method='post' action=''>{% csrf_token %}
                <table class="max">
                {{formulario}}
                </table>
                <button class="button button-action" type="submit" name="Guardar" />Guardar</button>
                     <a class="button button-caution" href= '/usuario/adminhu/{{proyecto.id}}' >Cancelar</a>
               </a>
            </form>
</nav>

{% endblock %}