{% extends 'administracion.html' %}
{% block encabezado %}
{% endblock %}
{% block contenido %}
<div class="histo-detalle">
    <a href="/"><font color="#3D9A13"> home </font></a><img src="/static/img/flechaverde.png" width="12" height="10" />
    <a href="/usuario/administrar"><font color="#3D9A13"> Administrar Usuario </font></a><img src="/static/img/flechaverde.png" width="12" height="10" />
    <a href="/usuario/detalle_usuario/{{usuario.id}}"><font color="#3D9A13"> Detalle / {{usuario}}</font></a>
</div>
<nav class="detalle">
    <h1>DETALLES</h1>
    <table class="max">
        <tr>
            <td>USUARIO:</td>
            <td><font color="black">{{usuario.username}}</font></td>
        </tr>

        <tr>
            <td>ESTADO:</td>

            {%if usuario.is_active%}
                <td><font color = "green">Activo</font></td>
            {%else%}
                <td><font color="red">Inactivo</font></td>
            {%endif%}
        </tr>

        <tr>
            <td>NOMBRE COMPLETO:</td>
            <td><font color="black">{{usuario.first_name}} {{usuario.last_name}}</font></td>
        </tr>

        <tr>
            <td>EMAIL:</td>
            <td><font color="black">{{usuario.email}}</font></td>
        </tr>

        <tr>
            <td>TELEFONO:</td>
            <td><font color="black">{{usuario.telefono}}</font></td>
        </tr>

        <tr>
            <td>DIRECCION:</td>
            <td><font color="black">{{usuario.direccion}}</font></td>

        </tr>

        <tr>
            <td>ES CLIENTE:</td>
            {%if usuario.cliente%}
                <td><font color="green">Si</font></td>
                <tr>
                        <td>CLIENTE:</td>
                        <td><font color="green">{{usuario.cliente}}</font></td>
                </tr>

            {%else%}
                <td><font color="red">No</font></td>
            {%endif%}
        </tr>

    </table>

<a href="javascript:window.history.back();" class="button-highlight button">Atras</a>
</nav>
{% endblock %}