{% extends 'administracion.html' %}
{% if user.is_active %}
 {% block titulo %}Modificar Rol de Proyecto{% endblock %}
{% block contenido %}
<div class="histo-detalle">
    <a href="/"><font color="#3D9A13"> home </font></a><img src="/static/img/flechaverde.png" width="12" height="10" />
    <a href="/usuario/adminrolproyecto"><font color="#3D9A13"> Rol de Proyecto </font></a><img src="/static/img/flechaverde.png" width="12" height="10" />
    <a href="/usuario/modificar_rol_proyecto/{{rol.id}}"><font color="#3D9A13"> Modificar / {{rol}} </font></a>
</div>
<nav class="detalle">
    <h1>Modificar el Rol {{rol}}</h1>
    <form method='post' action=''>{% csrf_token %}
    <table class="max">{{formulario}}</table>

    <button class="button button-action" type="submit" name="Guardar" />Guardar</button>

    <a class="button button-caution" href="{% url 'usuario:adminrolproyecto' %}">Cancelar</a>

</form>
</nav>>

{% endblock %}
{% endif%}