{% extends 'administracion.html' %}
{% if user.is_active %}
 {% block titulo %}Nuevo Flujo{% endblock %}
{% block privado%}{% endblock%}
{% block contenido %}
<br>
<nav class="detalle">
    <h1>Nuevo Flujo</h1>
    <form action="" method="post">
    {% csrf_token%}
        <table class="max">{{form}}</table>

    <button class="button button-action" type="submit" name="Guardar" />Guardar</button>
    <a class="button button-caution" href="{% url 'usuario:gestionar_flujo' %}">Cancelar</a>
    </form>
</nav>
{% endblock %}
{% endif%}
