{% extends 'administracion.html' %}
{% if user.is_active %}
 {% block titulo %}Nuevo Usuario{% endblock %}

{% block contenido %}
<div class="histo-detalle">
    <a href="/"><font color="#3D9A13"> home </font> </a><img src="/static/img/flechaverde.png" width="12" height="10" />
    <a href="/usuario/administrar"> <font color="#3D9A13"> Administrar Usuario </font></a><img src="/static/img/flechaverde.png" width="12" height="10" />
    <a href="/usuario/crear_usuario"><font color="#3D9A13">Nuevo Usuario</font></a>
</div>
<nav class="detalle">
    <h1>NUEVO USUARIO</h1>
        <form action="{% url 'usuario:crear_usuario' %}" method="post">
        {% csrf_token%}
        <table class="max">{{form}}</table>

        <button class="button button-action" type="submit" name="Guardar" />Guardar</button>
        <a class="button button-caution" href="{% url 'usuario:administrar' %}">Cancelar</a>
</form>

{% endblock %}
{% endif%}

