{% extends 'administracion.html' %}
{% if user.is_active %}
 {% block titulo %}Reasignar Lider{% endblock %}
{% block privado%}{% endblock%}
{% block contenido %}
<div class="histo-detalle" xmlns="http://www.w3.org/1999/html">
    <a href="/"><font color="#3D9A13"> home </font></a><img src="/static/img/flechaverde.png" width="12" height="10" />
    <a href="/usuario/adminproyecto"><font color="#3D9A13"> Administrar Proyecto </font></a><img src="/static/img/flechaverde.png" width="12" height="10" />
    <a href="/usuario/reasignar_lider/{{proyecto.id}}"><font color="#3D9A13"> Reasignar Lider / {{proyecto}}</font></a>
</div>
<nav class="detalle">
    <h1>Reasignar Lider de Proyecto</h1>
        <form method='post' action=''>{% csrf_token %}
                <table class="max">

                    {{formulario}}

                </table>
                <button class="button button-action" type="submit" name="Guardar" />Guardar</button>
                    <a class="button button-caution" href="{% url 'usuario:adminproyecto' %}">Cancelar</a>
    </form>
</nav>

{% endblock %}
{% endif%}
