{% extends 'administracion.html' %}
{% block titulo %}Asignar Flujo{% endblock %}
{% block contenido %}
<div class="histo-detalle">
    <a href="/"><font color="#3D9A13"> home </font></a><img src="/static/img/flechaverde.png" width="12" height="10" />
    <a href="/usuario/ingresar_Proyecto/{{codigo}}"><font color="#3D9A13"> Proyectos </font></a><img src="/static/img/flechaverde.png" width="12" height="10" />
    <a href="/usuario/datos_Proyecto/{{proyecto.id}}"><font color="#3D9A13"> {{proyecto}} </font></a><img src="/static/img/flechaverde.png" width="12" height="10" />
    <a href="#"><font color="#3D9A13"> Crear Sprint </font></a>
</div>
<div id="wrapper">

	<ul class="menu">
		<li class="item1"><a href="#">Equipo</a>
			<ul>
				<li class="subitem1"><a href="/usuario/equipo_trabajo/{{proyecto.id}}">Agregar Miembro</a></li>
				<li class="subitem1"><a href="/usuario/lista_eliminar_miembro/{{proyecto.id}}">Eliminar Miembro</a></li>
                <li class="subitem2"><a href="/usuario/detalle_equipo/{{proyecto.id}}">Ver Equipo </a></li>
			</ul>
		</li>
		<li class="item2"><a href="#">Historia de Usuario</a>
			<ul>
				<li class="subitem1"><a href='/usuario/adminhu/{{proyecto.id}}'>Administrar HU </a></li>
			</ul>
		</li>
		<li class="item3"><a href="#">Sprint </a>
			<ul>
				<li class="subitem1"><a href="/usuario/activarsprint/{{proyecto.id}}">Crear Sprint</a></li>
				<li class="subitem2"><a href="/usuario/gestionarsprint/{{proyecto.id}}">Ver Sprint </a></li>
			</ul>
		</li>
        <li class="item3"><a href="#">Flujo</a>
			<ul>
				<li class="subitem1"><a href="#">Agregar Flujo</a></li>
				<li class="subitem2"><a href="#">Ver Flujo </a></li>
			</ul>
		</li>
	</ul>

</div>
<!--initiate accordion-->
<script type="text/javascript">
	$(function() {

	    var menu_ul = $('.menu > li > ul'),
	           menu_a  = $('.menu > li > a');

	    menu_ul.hide();

	    menu_a.click(function(e) {
	        e.preventDefault();
	        if(!$(this).hasClass('active')) {
	            menu_a.removeClass('active');
	            menu_ul.filter(':visible').slideUp('normal');
	            $(this).addClass('active').next().stop(true,true).slideDown('normal');
	        } else {
	            $(this).removeClass('active');
	            $(this).next().stop(true,true).slideUp('normal');
	        }
	    });

	});
</script>
<nav class="detalle">
    <h1>{{proyecto}}</h1>
    <hr/>
    <h1>Sprint Backlog</h1>
        <table class="max">
                <th>Sprint</th>
                <th>Fecha de Inicio</th>
                <th>Fecha de Finalizacion</th>
                <th>Capacidad hs/h</th>
                <th>Horas de HU</th>
                <th>Capacidad restante hs</th>
                <tr>
                    <td>{{sprint}}</td>
                    <td>{{sprint.fechaInicio}}</td>
                    <td>{{sprint.fechaFin}}</td>
                    <td>{{capacidad}}</td>
                    <td>{{total_hu}}</td>
                    <td>{{diferencia}}</td>
                </tr>
        </table>

    <br><br><br>
    {%if not hus%}
        <center><font color="red">Sin Historias de Usuario</font></center>
    {%else%}
          <table class="max">
        <tr>
            <th>Desarrolladores disponibles</th>
            <th>Esfuerzo destinado por dias</th>

        </tr>
        {%for miembro in equipo_actual%}
            <tr>
                <td>{{miembro}}</td>
                <td>{{miembro.hora}} hora/s</td>
            </tr>
        {%endfor%}
    </table>

        <table class="max">
            <th>Nombre</th>
            <th>Valor de negocio</th>
            <th>Valor tecnico</th>
             <th>Priorizado</th>
            <th>Responsable</th>
            <th>Flujo</th>
            <th>Esfuerzo requerido</th>
            {%for h in hus%}
            <tr>
                <td>{{h}}</td>
                <td>{{h.valornegocio}}</td>
                <td>{{h.valortecnico}}</td>
                 <td>{{h.priorizacion}}</td>
                <td>{{h.responsable}}   <a href="/usuario/editar_responsable/{{h.id}}/{{proyecto.id}}/{{sprint.id}}"><img src="/static/img/pencil3.png" width="20" height="20"/></a></td>
                <td>{{h.flujo}}   <a href="/usuario/editar_flujo/{{h.id}}/{{proyecto.id}}/{{sprint.id}}"><img src="/static/img/pencil3.png" width="20" height="20"/></a></td>
                <td>{{h.hora }}
                    {%if h.hora > 1%}
                    horas
                    {%else%}
                    hora
                    {%endif%}
                </td>
            </tr>
            {%endfor%}
        </table>

    {%endif%}

    <div class="boton_agregar_hu">
    <a class="button button-action" href="/usuario/asignarhusprint/{{proyecto.id}}/{{sprint.id}}" name="Guardar">Agregar Hu</a>
    </div>>

</nav>
{% endblock %}