{% extends 'administracion.html' %}
{% block encabezado %}
{% endblock %}
{%block titulo%}Ver Trabajo{%endblock%}
{% block contenido %}
<div class="histo-detalle">
    <a href="/"><font color="#3D9A13"> home </font></a><img src="/static/img/flechaverde.png" width="12" height="10" />
    <a href="/usuario/admincliente"><font color="#3D9A13"> Administrar Cliente </font></a><img src="/static/img/flechaverde.png" width="12" height="10" />
    <a href="/usuario/ver_trabajo/{{h.id}}"><font color="#3D9A13"> Ver Trabajo /{{h.nombre}}  </font></a>
</div>
<nav class="detalle">
    <h1>Ver Trabajo</h1>
    <table class="max">
        <tr>
            <td><strong><a href="/usuario/ver_trabajo/{{h.id}}/1">Nombre</a></strong></td>
            <td><strong><a href="/usuario/ver_trabajo/{{h.id}}/2">Fecha</a></strong></td>
            <td><strong><a href="/usuario/ver_trabajo/{{h.id}}/3">Nota</a></strong></td>
            <td><strong><a href="/usuario/ver_trabajo/{{h.id}}/4">Hora</a></strong></td>
            <td><strong><a href="/usuario/ver_trabajo/{{h.id}}/5">Actor</a></strong></td>
            <td><strong><a href="/usuario/ver_trabajo/{{h.id}}/6">User History</a></strong></td>
            <td><strong><a href="/usuario/ver_trabajo/{{h.id}}/7">Flujo</a></strong></td>
            <td><strong><a href="/usuario/ver_trabajo/{{h.id}}/8">Actividad</a></strong></td>
            <td><strong><a href="/usuario/ver_trabajo/{{h.id}}/9">Estado</a></strong></td>
            <td><strong><a href="/usuario/ver_trabajo/{{h.id}}/10">Sprint</a></strong></td>
            <td><strong><a href="/usuario/ver_trabajo/{{h.id}}/11">Archivo</a></strong></td>
        </tr>
         {% for trabajo in trabajos %}
        <tr>
            <td>{{trabajo.nombre}}</td>
            <td>{{trabajo.fecha}}</td>
            <td>{{trabajo.nota}}</td>
            <td>{{trabajo.horas}}</td>
            <td>{{trabajo.actor}}</td>
            <td>{{trabajo.hu}}</td>
            <td>{{trabajo.flujo}}</td>
            <td>{{trabajo.actividad}}</td>
            <td>{{trabajo.estado}}</td>
            <td>{{trabajo.sprint}}</td>
            <td>{{trabajo.filename}}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="javascript:window.history.back();" class="button-highlight button">Atras</a>
</nav>
{% endblock %}